@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply p-0 m-0;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: all 300ms ease;
  }

  *::-webkit-scrollbar {
    @apply w-[5px] h-[5px]  ;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-[30px] bg-primary;
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent relative top-0 right-0 ;
  }

  *::-webkit-scrollbar-track-piece {
    @apply bg-transparent;
  }

  *::-ms-scrollbar {
    @apply w-[5px] h-[5px];
  }

  body {
    @apply bg-primary-light;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: #ffffff; */
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
  }
}
